/work/
/transcript
/vsim.wlf
/*stacktrace.vstf
/*.cr.mti
/modelsim.ini
/*.bak
/logs/*_baseline.log
/logs/compile_probe.log
/logs/gui*
/logs/*.do

logs/shared.vec
waves/tb_voxel_dma*.wlf
waves/tb_voxel_shared_vectors.wlf
